<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Attrecto Internship</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sandbox">Sandbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies">Movies <i class="bi bi-film"></i></a>
            </li>
        </ul>        
    </div>
</nav>


